<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/cvcStatsV2withoutKotlin/src/main/java/launch/AddonLauncher.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="MOD_CLASSES" value=""/>
        <mapEntry key="assetDirectory" value="C:/Users/finntegeler/.gradle/caches/forge_gradle/assets"/>
        <mapEntry key="assetIndex" value="1.16"/>
        <mapEntry key="nativesDirectory" value="${workspace_loc}/build/natives"/>
        <mapEntry key="tweakClass" value="net.labymod.vanilla.LabyModTweaker"/>
    </mapAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/jdk-8.0.312.7-hotspot/"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="launch.AddonLauncher"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="cvc-stats-v2-without-kotlin"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="cvcStatsV2withoutKotlin"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-DdebugMode=true -Daddonresources=addon.json"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:cvcStatsV2withoutKotlin/run}"/>
</launchConfiguration>
